* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h3{
  font-size: 40px;
  color: rgba(105, 122, 12, 0.846);
  text-align: center;
}
.container {
  min-height: 100vh;
  background-image: linear-gradient(to right, #bdbebd, #98dcd5);
  
}

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container a{
  text-decoration: none;
}

.day {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 40px;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.3s;
  background-color: #333;
}
#content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}
img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: opacity 0.3s;
  object-fit: contain;
}

.day:hover img {
  opacity: 0.4;
  
}
.day:hover h2 {
  opacity: 1;
  /* display: block; */
  z-index: 10000;
}
.day:hover p {
  opacity: 1;
  z-index: 1000;
  display: block;
}
.day .dayHover {
  position: relative;
    overflow: hidden;
    margin: 0 auto;
}
h2 {
  position: absolute;
  /* display: none; */
  z-index: 1;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
p{
  display: none;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
  right: 20px;
  bottom: 28px;
  color: #fff;
  font-size: 18px;

}
#backtop{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: rgba(10, 236, 104, 0.846);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  text-align: center;
  transition: 0.3s;
}
#backtop i{
  font-size: 30px;
  margin:10px 10px ;
}