*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.control button{
    border: none;
    outline: none;
    padding: 6px 10px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    color: aliceblue;
    border-radius: 6px;
}
button.success{
    background-color: rgb(8, 185, 8);
}
button.wraning{
    background-color: rgb(187, 187, 57);
}
button.error{
    background-color: rgb(223, 31, 31);
    
}
#toasts{
    position: fixed;
    top: 20px;
    right: 10px;
}
.toast{
    padding: 10px;
    border-radius: 6px;
    color: aliceblue;
    font-size: 20px;
    animation: slide_hide 1s ease forwards;
    margin: 10px 0;
    overflow: hidden;
}
.toast i{
   
}
.toast.success{
    background-color: rgb(67, 185, 67);
    border-left: 6px solid green;
}
.toast.wraning{
    background-color: rgb(209, 196, 6);
    border-left: 6px solid rgb(194, 194, 4);
}
.toast.error{
    background-color: rgb(231, 74, 74);
    border-left: 6px solid red;

}
.toast .countdown{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    animation:  countdown 2s ease forwards;
}
.toast.success .countdown{
    background-color: green;
}
.toast.wraning .countdown{
    background-color: yellow;
}
.toast.error .countdown{
    background-color: red;
}
@keyframes countdown {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
@keyframes slide_show{
    0%{
        transform: translateX(100%);

    }
    25%{
        transform: translateX(-12%);

    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}

@keyframes slide_hide{
    0%{
        transform: translateX(-10%);

    }
    25%{
        transform: translateX(0%);

    }
    50%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(150%);
    }
}